<form class="col s12" action="/login" method="POST">
  
  <div class="row">
    <div class="input-field col s6 offset-s3">
      <input id="username" type="text" class="validate" name="username" required>
      <label for="username">Username</label>
    </div>
  </div>
  
  <div class="row">
    <div class="input-field col s6 offset-s3">
      <input id="password" type="password" class="validate" name="password" required>
      <label for="password">Password</label>
    </div>
  </div>
  
  <div class="row">
    {{#if error_messages }}
    <div class="red-text text-darken-2 col s6 offset-s3" style="margin-bottom: 1rem;">{{error_messages}}</div>
    {{/if}}
  </div>
  
  <div class="row">
    <button class="btn waves-effect waves-light col s2 offset-s5" type="submit">Login</button>
  </div>

</form>