<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo" style="margin-left: 1rem;">Academy</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {{#if isAdmin}}
        <li><a href="/register">Add teacher</a></li>
      {{/if}}
      {{#if isTeacher}}
        <li><a href="/register">Add student</a></li>
        <li><a href="/groups/add_notification">Add notification</a></li>
      {{/if}}
      {{#if isAuth}}
        <li><a href="/groups">Groups</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/logout">Logout</a></li>
      {{else}}
        <li><a href="/login">Login</a></li>
      {{/if}}
    </ul>
  </div>
</nav>