<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
<title>Документ без названия</title>
<style>
#create{
	position:absolute;
	width:24px;
	height:24px;
	top:0;
	left:0;
	background-color:#00F;
}
#container{
	width:400px;
	height:400px;
	border:1px dashed #63C;
}
</style>
<script>
	function createElem(event)
	{
		if(!event)
			event = window.event;

		var dcont  = document.getElementById('container');
		var div = document.createElement('div');
		div.setAttribute('id','create');
		div.setAttribute('onclick','editItem(this)');
		//div.setAttribute('onmousedown','grabElem()');
		//div.setAttribute('onmouseup','dropElem()');
		div.style.left = event.clientX+'px';
		div.style.top = event.clientY+'px';
		dcont.appendChild(div);
		return false;
	}
	function editItem(ev){
		if(!ev) ev=window.event;
		var contain = document.getElementById('container');
		contain.removeChild(ev);
		return true;
	}
</script>
</head>

<body>
<div id="container" onclick="createElem(event)"></div>
</body>
</html>
