<div class="row" id="daySelect">
    <div class="col s12" style="text-align: center;">
        <div class="tab col s2 offset-s1"><p><label><input type="checkbox" id="mon" onclick="state_change(this)"/><span>Monday</span></label></p></div>
        <div class="tab col s2"><p><label><input type="checkbox" id="tue" onclick="state_change(this)"/><span>Tuesday</span></label></p></div>
        <div class="tab col s2"><p><label><input type="checkbox" id="wed" onclick="state_change(this)"/><span>Wednesday</span></label></p></div>
        <div class="tab col s2"><p><label><input type="checkbox" id="thu" onclick="state_change(this)"/><span>Thursday</span></label></p></div>
        <div class="tab col s2"><p><label><input type="checkbox" id="fri" onclick="state_change(this)"/><span>Friday</span></label></p></div>
    </div>
</div>

<script>
    const week = ['friday', 'thursday', 'wednesday', 'tuesday', 'monday']
    const days = {
        mon: week[4],
        tue: week[3],
        wed: week[2],
        thu: week[1],
        fri: week[0]
    }
    
    function newDayContainer(day) {
        const div = document.createElement('div')
        div.className = 'row'
        div.id = day
        div.innerHTML = `<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
                        .dynamic_fields, .dynamic_fields * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .example_student {
            display: none;
        }

        .form-control {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }

        .pull-right {
            float: right;
        }

        .table {
            display: table;
            width: 100%;
            padding-bottom: 10px;
        }
        .student:last-child .table {
            padding-bottom: 0;
        }

        .table .cell {
            display: table-cell;
            vertical-align: top;
            
        }

        .table .cell:last-child {
            width: 1px;
            padding-left: 10px;
        }

        .btn {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
            font-family: monospace;
        }

        .btn-danger {
            color: #fff;
            background-color: #d9534f;
            border-color: #d43f3a;
        }

        .btn-success {
            color: #fff;
            background-color: #5cb85c;
            border-color: #4cae4c;  
        }
        </style> 
</head>

<body>
    <div class="dynamic_fields">
        <div class="example_student">
            <div class="table">
                <div class="cell">
                    <input type="text" name="name[]" />
                    <input type="text" name="name[]" />
                    <input type="text" name="name[]" />
                </div>
                <div class="cell">
                    <button class="js-remove pull-right btn btn-danger">-</button>
                </div>
            </div>
        </div>
        <div class="students">
            <div class="table">
                <div class="cell">
                    <input type="text" name="courseName[]" />
                    <input type="text" name="courseTeacher[]" />
                    <input type="text" name="courseClassrom[]" />
                </div>
                <div class="cell">
                    <button class="js-add pull-right btn btn-success">+</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
        `
    
    if (!week.slice(week.indexOf(day) + 1).some(x => {
            if (document.getElementById(x)) {
                document.getElementById(x).after(div)
                return true
            }
        })) document.getElementById('daySelect').after(div)
        
    var button_add = document.querySelector('.dynamic_fields .js-add');
        console.log(button_add)

        button_add.addEventListener('click', function () {

            var students = document.querySelector('.dynamic_fields .students');

            var element = document.querySelector('.example_student').cloneNode(true);

            element.classList.add('student');

            element.classList.remove('example_student');

            students.appendChild(element);
        });

        document.addEventListener('click', function (el) {

            if (el.target && el.target.classList.contains('js-remove')) {

                var child = el.target.closest('.table');

                child.parentNode.removeChild(child);
            }
        });

    }
    
    

    function state_change(checkbox)
    {
        if (checkbox.checked)
            newDayContainer(days[checkbox.id])
        else if (document.getElementById(days[checkbox.id]))
            document.getElementById(days[checkbox.id]).remove()
    }

</script>