<div class="col s6 offset" style="align-items: center;">
    <form  action="/advertisement" method="POST">
      <div style="display:inline-flex" >
        <h6 style="">Advertisement to group:</h6>
        <div class="input-field col s6" >
          <select style="display: block;" name="group">
            <option value="" disabled selected>Choose group</option>
            {{#if groups.length}}
              {{#each groups}}
                <option value="{{_id}}">{{name}}</option>
                {{/each}}
            {{/if}}
          </select>
        </div>
      </div>
      <div class="row" style="">
        <div class="input-field col s6">
          <textarea class="materialize-textarea" name="message"></textarea>
          <label>Message</label>
          <button class= "btn waves-effect waves-light" style="margin-left: 0.2rem; margin-top: 0.6rem" type="submit">Send message</button>
        </div> 
      </div>
      
    </form>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, options);
  });
</script>