<div class="row">
  <div class="col s6 offset-s3">
    <form action="/advertisement" method="POST">
      <div style="width: 100%; display: flex;">
        <p style="margin: auto 0;">Advertisement to group:</p>
        <div class="input-field col s6">
          <select style="display: block;">
            <option value="" disabled selected>Choose group</option>
              {{#if groups.length}}
                {{#each groups}}
                  <option value="{{_id}}">{{name}}</option>
                {{/each}}
              {{/if}}
          </select>
        </div>
      </div>
      <div class="input-field col s6" style="width: 100%; display: flex;">
        <textarea class="materialize-textarea"></textarea>
        <label>Message</label>
        <button class="btn waves-effect waves-light" type="submit">Send message</button>
      </div>

    </form>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, options);
  });
</script>