<h1>Ky</h1>
<div>
    {{#if notifications.length}}
        {{#each notifications}}
            <script>
                Notification.requestPermission(function(permission){
                console.log('Результат запроса прав:', permission);
                });
                var notification = new Notification(`{{author}}`, {
                    body: `{{message}}`,
                    icon: 'https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSTmCtYyHSsdXkQq_4PlyoytuuhFhJy_nEksNH7sPUteWNpvhyl'
                });
            </script>
        {{/each}}
    {{/if}}
</div>
