<div class="groups">
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6"><a class="active" href="#showGroups">Show groups</a></li>
                <li class="tab col s6"><a href="#createGroup">Add new group</a></li>
            </ul>
        </div>
        <div id="showGroups" class="col s6 offset-s3">
        {{#if groups.length}}
            <div class="collection">
            {{#each groups}}
                <a href="/groups/edit/{{_id}}" class="collection-item">{{name}}</a>
            {{/each}}
            </div>
        {{else}}
            <p>No groups availabel!</p>
        {{/if}}
        </div>
        <div id="createGroup" class="col s6 offset-s3">
            <form action="/groups/create" method="POST">
                <div class="input-field">
                    <input id="name" name="name" type="text" class="validate" required>
                    <label for="name">Group Name</label>
                    <span class="helper-text" data-error="Enter valid group name"></span>
                </div>
                {{#if error_messages }}
                    <div class="red-text text-darken-2">{{error_messages}}</div>
                {{/if}}
                <button type="submit" class="btn btn-primary">REGISTER NEW GROUP</button>
            </form>
        </div>
    </div>
</div>

<script>
  M.Tabs.init(document.querySelectorAll('.tabs'))
</script>